<div class="user-list">
  <h1>Liste des Utilisateurs</h1>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Matricule</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.matricule }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button (click)="deleteUser(user.id)">Supprimer</button>
          <button (click)="sendEmail(user.id)">Envoyer Email</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
